<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shtp.product.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.shtp.product.bean.ProductUnit">
        <id column="id" property="id"/>
        <result column="userid" property="userid"/>
        <result column="pic_src" property="pic_src"/>
        <result column="price" property="price"/>
        <result column="dipction" property="dipction"/>
    </resultMap>
    <insert id="postProduct" parameterType="com.shtp.product.bean.ProductUnit">
        insert into productunit
    </insert>
    <select id="getAllPruducts" resultType="com.shtp.product.bean.ProductUnit">
        select * from productunit
    </select>
</mapper>
